---
import Logo from "@/components/Logo.astro";
import { ToggleMenu, NavLinks } from "@/components/Navbar";

import type { MenuLink } from "@/types/common";
import Link from "@/components/Link.astro";

export type Props = {
  id?: string;
  links: MenuLink[];
};

const { id = "site-navigation", links } = Astro.props as Props;
---

<header id={id} class="main-navigation navbar navbar-light navbar-expand-lg">
  <div class="container">
    <Link
      styles="tw-text-4xl tw-font-bold tw-font-dm-sans tw-transition-all"
      href="/"
    >
      <Logo />
    </Link>

    <ToggleMenu />

    <NavLinks links={links} />
  </div><!-- .container -->
</header><!-- #site-navigation -->
