---
import type { MenuLink } from "@/types/common";

const { links } = Astro.props as { links: MenuLink[] };
---

<nav id="mainNavBar" class="navbar-collapse collapse mt-4">
  <ul class="navbar-nav ms-auto navbar-nav-scroll text-center tw-flex tw-gap-6">
    {
      links.map(({ text, href, desc }) => (
        <li class="nav-item">
          <a
            class:list={[
              "nav-link tw-font-medium tw-font-dm-sans tw-capitalize tw-text-black-theme tw-text-xl tw-leading-tight tw-transition-all",
              "hover:tw-text-blue-dark",
              "active:tw-text-blue-dark",
            ]}
            href={href}
          >
            {text}
            <br />
            <span class="tw-text-xs">{desc}</span>
          </a>
        </li>
      ))
    }
  </ul><!-- .navbar-nav -->
</nav><!-- #mainNavBar -->
