---
import PageBg from "@/assets/imgs/page-bg.jpg";

import { Content as AboutContent } from "@/content/about.md";
import { Head, Scripts } from "@/components/global";
import Sidebar from "@/components/Sidebar";
import type { SocialIcon } from "@/types/common";

type Props = {
  title: string;
  socials: SocialIcon[];
};

const { title, socials } = Astro.props as Props;
---

<!doctype html>
<html lang="en-GB">
  <Head title={title} />
  <body
    id="default-page"
    style={{
      backgroundImage: `url(${PageBg.src})`,
    }}
  >
    <div class="tw-container tw-m-auto">
      <div class="tw-flex tw-flex-row tw-flex-wrap tw-py-4">
        <Sidebar socials={socials} client:load>
          <AboutContent />
        </Sidebar>
        <main class="tw-w-full tw-px-2 tw-pt-1 lg:tw-w-3/4">
          <slot />
        </main>
      </div>
    </div>
    <Scripts />
  </body>
</html>

<style>
  .default-page {
    background-position: center, center;
    background-repeat: repeat;
    background-size: cover;
  }
</style>
