---
import Layout from "@/layouts/BaseLayout.astro";

import { Content as AboutContent } from "@/content/about.md";

import Portrait from "@/assets/imgs/me.jpg";

import { NavbarLinks, SocialIcons } from "@/data/homepage";
import Image from "astro/components/Image.astro";

// const req = await fetch("");
// const data = await req.json();
---

<Layout title="About Me" links={NavbarLinks} socials={SocialIcons}>
  <div class="container">
    <div class="row tw-py-20">
      <div
        class="col-12 col-md-6 tw-text-center md:tw-text-left tw-font-rubik tw-font-light tw-text-[17px] md-content"
      >
        <AboutContent />
      </div>
      <div class="col-12 col-md-6">
        <div
          class="tw-my-6 tw-flex tw-justify-center tw-items-center md:tw-align-top"
        >
          <Image
            src={Portrait}
            alt="me"
            class="tw-rounded-full tw-border-[3px] tw-border-blue-dark"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  .md-content p {
    @apply tw-mb-3;
  }

  .md-content p img {
    @apply tw-inline-block;
  }
</style>
