---
import Layout from "@/layouts/BaseLayout.astro";

import { NavbarLinks, SocialIcons } from "@/data/homepage";
import { Portfolio as PFSection } from "@/components/Portfolio";

import { ProjectCategories, Projects } from "@/data/portfolio";
---

<Layout title="Portfolio" links={NavbarLinks} socials={SocialIcons}>
  <div class="tw-mt-6 tw-mb-12">
    <PFSection categories={ProjectCategories} projects={Projects} client:load />
  </div>
</Layout>
